.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body 
{
     background-image: url("Photo.avif");
     background-size: cover;
}

canvas
{
    border-width: 10px;
    border-color: black;
    border-style: solid;
}